<%- include('head.ejs') %>
    <body>
        <form action="<%= pessoa.matricula %>" method="post">
            <div>
                <label for="">Nome</label>
                <input class="form-control" type="text" name="nome" value="<%= pessoa.nome %>">
            </div>
            <div>
                <label for="">Endereco</label>
                <input class="form-control" type="text" name="endereco" value="<%= pessoa.endereco %>">
            </div>
            <div>
                <label for="">Data Nascimento</label>
                <input class="form-control" type="text" name="datanascimento" value="<%=pessoa.datanascimento %>">
            </div>
            <br>
            <input type="submit" value="Salvar">
                <a href="/">Voltar</a>
        </form>
    </body>
</html>